@media (max-width: 37.5em) {
  html {
    font-size: 62.5%;
  }

  .card {
    grid-template-columns: 1fr;
    max-width: 36rem;
  }

  .product-img {
    height: 30rem;
    background-image: url(../images/image-product-mobile.jpg);
    background-size: cover;
  }

  .add-to-cart {
    padding: 1.2rem;
  }
}
